/* desktop screen responsive 1800px */
@media screen and (max-width: 1800) {

}



/* tablet screen responsive 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #333;
        flex-direction: column;
        width: 200px;
        /* padding: 10px; */
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    div#navLinks {
        z-index: 1;
        padding: 2vw;
        background: var(--secondary-color);
    }
    .nav-links {
        gap: 1vw;
    }
    .sec1-flex-box {
        flex-wrap: wrap;
    }
    .s2-box {
        width: 100%;
    }
    .s2-row {
        flex-wrap: wrap;
    }
    .sec2-flex-box {
        flex-wrap: wrap;
    }
    .s2-row .img {
        width: 49%;
    }
    .product-1 {
        width: 49%;
    }
    .blog-flex-box {
        flex-wrap: wrap;
        text-align: center;
        gap: 5vw;
    }
    .blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sec-5-inner {
        flex-direction: column;
        gap: 2vw;
    }
    .follow-social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3vw;
    }
    .follow-social a {
        width: 25vw;
        text-align: center;
    }
    .ftr-inner {
        flex-wrap: wrap;
        gap: 5vw;
    }
    .ftr-box {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ftr-box ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ftr-btm {
        flex-direction: column;
        align-items: center;
        padding: 2vw 0;
        gap: 2vw;
    }
    .s3fb-tabs ul {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 2vw 6vw;
    }
    .s3fb-tabs ul li {
        padding: 2vw 5vw;
    }

    .ftr-btm-left p {
        text-align: center;
    }
    button#topBtn {
        padding: 0.3rem 0.6rem;
    }
    .ftr-btm-right img {
        width: 95vw;
    }
    .sec2-top h2 {
        text-align: center;
    }
    .blogs {
        width: 47%;
    }




}

/* mobile screen responsive 767px */
@media screen and (max-width: 767px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #333;
        flex-direction: column;
        width: 200px;
        /* padding: 10px; */
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    div#navLinks {
        z-index: 1;
        padding: 2vw;
        background: var(--secondary-color);
    }
    .nav-links {
        gap: 1vw;
    }
    .sec1-flex-box {
        flex-wrap: wrap;
    }
    .sec2-flex-box {
        flex-wrap: wrap;
    }
    .s2-box {
        width: 100%;
    }
    .s2-row {
        flex-wrap: wrap;
    }
    .img {
        width: 100%;
    }
    .product-1 {
        width: 100%;
    }
    .blog-flex-box {
        flex-wrap: wrap;
        text-align: center;
        gap: 5vw;
    }
    .blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sec-5-inner {
        flex-direction: column;
        gap: 2vw;
    }
    .follow-social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3vw;
    }
    .follow-social a {
        text-decoration: none;
        padding: 2vw 7vw;
        border: 1px solid var(--secondary-color);
        background: var(--secondary-color);
        color: var(--black-color);
        font-size: var(--font-btnhead);
        width: 35vw;
        display: flex;
        justify-content: center;
    }
    .ftr-inner {
        flex-wrap: wrap;
    }
    .ftr-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ftr-box ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ftr-btm {
        flex-direction: column;
        align-items: center;
        padding: 2vw 0;
        gap: 2vw;
    }
    .s3fb-tabs ul {
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }
    .ftr-btm-left p {
        text-align: center;
    }
    button#topBtn {
        padding: 0.3rem 0.6rem;
    }
    .ftr-btm-right img {
        width: 95vw;
    }
    .sec2-top h2 {
        text-align: center;
    }



}